{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
    <h1>Задание</h1>

            <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Задача</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Описание задачи</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td> {% if task.status == 0 %} Выполняется {% elseif task.status == 1 %}Выполнено {% endif %}</td>
            </tr>
            <tr>
                <th>Дата создания</th>
                <td>{% if task.createat %}{{ task.createat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('tasks_edit', { 'id': task.id }) }}"><button type="button" class="btn btn-warning">Изменить</button></a>
            <a href="{{ path('tasks_index') }}"><button type="button" class="btn btn-success">Все задачи</button></a>
        </div>
    </div>
</div>
{% endblock %}
